.recipe-container {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.212);
  display: flex;
  flex-direction: row;
  margin: 1rem 1rem 0 0;
  width: 25rem;
  text-align: justify;
}

.recipe-container .title-recipe {
  align-self: center;
  color: #EA5323;
}

.recipe-container .title-recipe:hover {
  text-decoration: underline;
}

.recipe-container:hover{
  transform: scale(1.03);
  transition: 0.5s;
}

.recipe-container img {
  border-radius: 5px 0 0 5px;
  height: 10rem;
  width: 40%;
}

.recipe-info {
  align-content: center;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  /* height: 100%; */
  justify-content: center;
  width: 60%;
}

.recipe-container h3, h4 {
  align-self: center;
  text-align: center;
}