.category-bar-container {
  align-items: center;
  align-content: center;
  background-color: #fff;
  
  display: flex;
  font-size: 0.95rem;
  flex-direction: column;
  height: 800px;
  padding: 10px 0;
  position:relative;
  top: 35px;
}

.category-bar-container ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
  margin-left: 0;
  width: 21rem;
}

.category-bar-container li {
  border-bottom: solid 0.5px rgba(197, 184, 184, 0.507);
  color: rgb(128, 136, 145);
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding: 7px;
  width: 90%;
}

.category-bar-container li:hover {
  color: black;
  text-decoration: underline;
}

.category-bar-container p {
  text-align: center;
}