.home-container {
  /* align-items: center; */
  display: flex;
  /* justify-content: flex-start; */
  margin-left: 100px;
}

.home-container section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  flex-basis: 1050px;
  padding: 10px;
}

.category-bar {
  width: 500spx;
}
