.login-container {
  background-color: rgb(255, 255, 255);
  border: 0.5px solid rgba(0, 0, 0, 0.267);
  border-radius: 10px;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: auto;
  margin-top: 3rem;
  max-width: 400px;
  padding: 30px 20px;
}

.login-container form {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-container h1 {
  color: brown;
  text-align: center;
}

.login-container .mb-3 {
  max-width: 18rem;
  margin: 0.5rem;
}

.login-container input {
  width: 18rem;
}

.login-container button {
  margin: 0.5rem;
  width: 18rem;
}

.login-container a {
  text-decoration: underline;
}