.main-header {
  align-items: center;
  align-content: center;
  background-color: #ff1917;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}

.title-project {
  font-style: oblique;
}

.title-cookmaster {
  color: white;
  font-style: italic;
  font-weight: 600;
}

.main-header nav {
  align-items: center;
  color: write;
  display: flex;
  font-size: 1.2rem;
  margin-right: 2rem;
}

.main-header nav a {
  align-items: center;
  color: #fff;
  display: flex;
  margin-right: 1rem;
}

.main-header button {
  background-color: transparent;
  color: #fff;
}